@page "/counter"
@using Microsoft.EntityFrameworkCore
@using MCE.Model
@inject IDbContextFactory<MidgardContext> DbFactory

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<SfButton IsPrimary="true" @onclick="IncrementCount">Primary</SfButton>
<SfListBox @ref="TestListBox" Value="_selectedSpells" Height="500px" DataSource="@_spells" TValue="int[]" TItem="Spell">
    <ListBoxEvents TValue="int[]" ValueChange="change" TItem="Spell"></ListBoxEvents>
    <ListBoxFieldSettings Text="Name" Value="Id"></ListBoxFieldSettings>
</SfListBox>

@code {
    private SfListBox<int[], Spell> TestListBox;
    private int currentCount;
    private List<Spell> _spells;
    private int[] _selectedSpells;

    protected override async Task OnInitializedAsync()
    {
        await using var context = DbFactory.CreateDbContext();
        _spells = await context.Spells.ToListAsync();
        await base.OnInitializedAsync();
    }

    private void IncrementCount()
    {
        currentCount++;
        foreach (var selectedSpell in _selectedSpells)
        {
            Console.WriteLine(selectedSpell.ToString());
        }
    }

    private void change(ListBoxChangeEventArgs<int[], Spell> args)
    {
    //Triggers when value changed
        _selectedSpells = args.Value;
        // Console.WriteLine(args.Value.First());
    }

}